# Ignore build and install directories
build/
install/

# Ignore logs and core dumps
log/
core*

# Ignore backup files
*~

# Ignore generated code
*.pyc
*.pyo

# Ignore build artifacts
*.o
*.a
*.so

# Ignore IDE-specific files
.idea/
.vscode/
*.swp

# Ignore rosdep and colcon cache directories
.rosdep/
.rosinstall/
.rosinstall.lock
.ros/
colcon.pkg-cache/
colcon.workspace-cache/
colcon_logs/

